= form_for @travel do |f|
  - if @travel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@travel.errors.count, "error")} prohibited this travel from being saved:"
      %ul
        - @travel.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
