.wrapper
  %section.SideBar
    .logo
      = link_to 'TabiLog', travels_path
    .MenuList
      %ul
        %li.selected
          = link_to travels_path do
            = icon('fas', 'book', class: "MenuList--icon")
            アルバム
        %li
          = link_to "#" do
            = icon('fas', 'map-marked-alt', class: "MenuList--icon")
            Map
        %li
          = link_to user_path(current_user), class: 'selected__btn' do
            = icon('far', 'user-circle', class: "MenuList--icon")
            プロフィール
        %li
          = link_to destroy_user_session_path, method: :delete, class: 'logout' do
            = icon('fas', 'door-open', class: "MenuList--icon")
            ログアウト

  %section.main
    .column
      .profile
        %header
          プロフィール
          = icon('fas', 'pencil-alt', class: "profile--icon")
        .item
          %ul
            %li.name
              名前：
              = current_user.name
            %li.email
              = icon('far', 'envelope', class: "email--icon")
              -#メールアドレス：
              = current_user.email

  -#モーダルウィンドウ
  %section.UserShowModal.ModalActive
    .modal_bg
    .modal
      = form_for(current_user) do |f|
        .modal__content
          %header
            %p
              プロフィール編集
            %button{type: "reset", class: "close"}
              = icon('fas', 'times-circle', class: "close--icon")
          .contents
            .FormField
              .FormField__label
                = f.label :ユーザー名
              .FormField__input
                = f.text_field :name, autocomplete: "off", required: true
            .FormField
              .FormField__label
                = f.label :email
              .FormField__input
                = f.email_field :email, autocomplete: "off", required: true
          %footer
            = f.submit "保存", class: 'save'
